*.o
*.la
.libs
*.log
*.in
*.pickle
*.pyc
*.pyo
aclocal.m4
autom4te.cache
test-driver
compile
config.cache-env
config.guess
config.sub
config.status
libtool
*.pc
configure
depcomp
install-sh
ltmain.sh
missing
__pycache__
cache
!Doxyfile.in
!Veles.pc.in
!Application.mk.in
!Android.mk.in
