[submodule "Znicz"]
  path = veles/znicz
  branch = master
  url = https://github.com/samsung/veles.znicz
  ignore = dirty
[submodule "libVeles/libarchive"]
  path = libVeles/libarchive
  branch = master
  url = https://github.com/libarchive/libarchive.git
  ignore = dirty
[submodule "libVeles/zlib"]
  path = libVeles/zlib
  branch = master
  url = https://github.com/madler/zlib
  ignore = dirty
[submodule "web/viz.js"]
  path = web/viz.js
  url = https://github.com/mdaines/viz.js
  ignore = dirty
[submodule "deploy/pyenv"]
  path = deploy/pyenv
  url = https://github.com/yyuu/pyenv
[submodule "mastodon"]
  path = mastodon
  url =  https://github.com/samsung/veles.mastodon
