*.o
*.la
.libs
*.log
*.in
*.pickle
*.pyc
*.pyo
*.rst
aclocal.m4
autom4te.cache
test-driver
compile
config.cache-env
config.guess
config.sub
config.status
libtool
*.pc
configure
depcomp
install-sh
ltmain.sh
missing
__pycache__
cache
debian/python3-veles*
debian/substvars
debian/files
Veles.egg-info
.ipynb_checkpoints
docs/build
**/.idea/workspace.xml
.pybuild
web/dist
!Doxyfile.in
!Veles.pc.in
!Application.mk.in
!Android.mk.in
