.gitmodules merge=ours
veles/znicz merge=ours
package.sh export-ignore
veles/__init__.py filter=package
veles/siteconfig.py export-ignore
veles/tests export-ignore
libVeles export-ignore
libSoundFeatureExtraction export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.gitattributes export-ignore
.settings export-ignore
.coveragerc export-ignore
.project export-ignore
.pydevproject export-ignore
.idea export-ignore
.pylintrc export-ignore
init export-ignore
gource export-ignore
debian export-ignore
setup.py export-ignore
sonar-project.properties export-ignore
