*.o
*.la
.libs
*.log
*.in
aclocal.m4
autom4te.cache
test-driver
compile
config.cache-env
config.guess
config.sub
config.status
libtool
*.pc
configure
depcomp
install-sh
ltmain.sh
missing
__pycache__
!Doxyfile.in
!Veles.pc.in
