[project]
	description = Distributed machine learning platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Authorities
[access "refs/for/refs/*"]
	read = group Authorities
	push = group Authorities
	rebase = group Authorities
	removeReviewer = group Authorities
	submit = group Authorities
[access "refs/heads/*"]
	read = group Authorities
	create = group Authorities
	push = +force group Authorities
	pushMerge = group Authorities
[access "refs/tags/*"]
	push = +force group Authorities
	pushTag = group Authorities
	pushSignedTag = group Authorities
