[project]
	description = Distributed machine learning platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vadim Markovtsev (vmarkovtsev)
[access "refs/for/refs/*"]
	read = group user/Vadim Markovtsev (vmarkovtsev)
	push = group user/Vadim Markovtsev (vmarkovtsev)
	label-Code-Review = -2..+2 group user/Vadim Markovtsev (vmarkovtsev)
	label-Verified = -1..+1 group user/Vadim Markovtsev (vmarkovtsev)
	rebase = group user/Vadim Markovtsev (vmarkovtsev)
	removeReviewer = group user/Vadim Markovtsev (vmarkovtsev)
	submit = group user/Vadim Markovtsev (vmarkovtsev)
[access "refs/heads/*"]
	read = group user/Vadim Markovtsev (vmarkovtsev)
	create = group user/Vadim Markovtsev (vmarkovtsev)
	push = +force group user/Vadim Markovtsev (vmarkovtsev)
	pushMerge = group user/Vadim Markovtsev (vmarkovtsev)
[access "refs/tags/*"]
	push = +force group user/Vadim Markovtsev (vmarkovtsev)
	pushTag = group user/Vadim Markovtsev (vmarkovtsev)
	pushSignedTag = group user/Vadim Markovtsev (vmarkovtsev)
