<!DOCTYPE html>
<html lang="en">
<head>
  <title>Object tagger</title>
    <!-- build:css css/bboxer.min.css -->
  <link type="text/css" rel="stylesheet" href="css/jquery.ui.css">
  <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../build/css/bboxer.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>
  <div id="layout">
    <div id="toolbar">
      <div id="nav">
        <button id="prev" onclick="previous();" disabled="disabled">&lt;-</button>
        <input type="checkbox" id="menu" onclick="menu();" disabled="disabled">
        <label for="menu">&#9776;</label>
        <button id="next" onclick="next();" disabled="disabled">-&gt;</button>
      </div>
      <div id="menu-contents">
        <input type="search" id="jump-to-file" placeholder="jump to file">
        <label><input type="checkbox" id="retain-selections"> retain selections</label>
        <label><input type="checkbox" id="force-overwrite"> force overwrite</label>
      </div>
    </div>
    <div id="list-container">
      <div id ="list">
        {% for index, image in enumerate(images) %}
        <input type="radio" id="radio{{ index }}" name="list" hidden
        {% if index == 0 %}
        checked
        {% end %}
        >
        <label for="radio{{ index }}" class="ui-accordion-header ui-state-default ui-corner-all">
          <header>
            <img src="thumbnails/{{ image.path }}" class="thumbnail">
            <span>{{ image.name }}</span>
          </header>
          <div>
            <span class="property">path:</span> <span class="value">{{ image.path }}</span><br />
            <span class="property">size:</span> <span class="value">{{ image.size[0] }}x{{ image.size[1] }}</span><br />
            <span class="property">format:</span> <span class="value">{{ image.format }}</span><br />
            <span class="property">color:</span> <span class="value">{{ image.mode }}</span><br />
          </div>
        </label>
        {% end %}
      </div>
    </div>
    <div id="image-view">
      <div id="image-container">
        <canvas id="main"></canvas>
      <div>
    </div>
  </div>
  <div id="dialog-overwrite" title="Metadata already exists. Overwrite?" class="hidden">
    <p><span class="ui-icon ui-icon-alert" style="float: left;"></span>
    There was an attempt to overwrite an already existing metadata file. Typically this means that someone else has already modified it. Are you sure?</p>
  </div>

  <!-- build:js js/jquery.min.js -->
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/bboxer.min.js -->
  <script src="../build/js/jquery.ui.js"></script>
  <script src="../build/js/bboxer.js"></script>
  <!-- endbuild -->
  <script>
    var files = [
    {% for image in images %}
      { url: "{{ "images/" + image.path }}",
        path: "{{ image.path }}",
        size: [{{ image.size[0] }}, {{ image.size[1] }}],
        touched: {{ "true" if image.touched else "false" }} },
    {% end %}
    ];
  </script>
</body>
</html>
