<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/veles.png" />
    <title>VELES Command Line Frontend</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/frontend.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div id="whiteout"></div>
        <div id="command-line-container" class="input-group">
            <span class="input-group-btn">
            <button type="button" class="btn btn-success" onclick="run()">RUN</button>
            </span>
            <input type="text" class="form-control standalone master slave" id="command-line" value="{{! cmdline }}">
        </div>
        <div class="alert alert-danger" id="error-message" role="alert">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div id="arguments">
            <div class="panel panel-primary argument master slave standalone">
                <div class="panel-heading master slave standalone">
                  <span class="label label-danger argtype">Mandatory</span>
                  <h3 class="panel-title">Mode</h3>
                </div>
                <div class="panel-body">
                    <div class="pull-right description">
                      <p>Selects VELES operation mode. Standalone is the best choice for debugging workflows and relatively small tasks. Master mode runs VELES workflow server which accepts slaves. Slave mode is the headless VELES instance which requests jobs from a master and returns results.</p>
                    </div>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle master slave standalone" type="button" id="dropdownMode" data-toggle="dropdown">
                        Standalone
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMode">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="select_mode('Standalone')">Standalone</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="select_mode('Master')">Master</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="select_mode('Slave')">Slave</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            {% raw arguments %}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-switch.min.js"></script>
        <script src="js/typeahead.min.js"></script>
        <script src="js/minimist.min.js"></script>

        <script>
          var opts = {% raw opts %};
          var workflows = {% raw workflows %};
          var cmdline_states = {% raw cmdline_states %};
          var positional_opts = {% raw positional_opts %};
          var defaults = {% raw defaults_opt %};
          var choices = {% raw choices %};
          var special_opts = {% raw special_opts %};
        </script>

        <script src="js/frontend.min.js"></script>
    </body>
</html>
