<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/veles.png" />
    <title>VELES Logs Viewer - {{session}}</title>
    <script>var session = "{% raw session %}";</script>
    <script src="js/logs-fetch.js"></script>
    <link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css">
	  <link type="text/css" rel="stylesheet" href="css/rickshaw.min.css">
    <link type="text/css" rel="stylesheet" href="css/theme.jui.css">
    <link href="css/logs.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div id="main">
            <div id="content">
                <form id="side_panel">
                    <div id="legend"></div>
                </form>

                <div id="charts-container">
                    <div class="flex-box">
                        <div id="master-header">
                          <h2 id="graph-master-title" class="node-title ui-widget">Master</h2>
                          <div id="time-display"><span id="time-interval"></span></div>
                        </div>
                        <div id="log-level-container">
                            <span id="log-level-label" class="ui-widget">Logs level: </span>
                            <select id="log-level">
                              <option>DEBUG</option>
                              <option selected="selected">INFO</option>
                              <option>WARNING</option>
                              <option>ERROR</option>
                            </select>
                        </div>
                    </div>
                    <div class="chart-loading" id="chart-loading-master"></div>
                    <div class="chart-container">
                        <div class="chart" id="chart-master"></div>
                        <div class="logs" id="logs-master">
                          <div class="logs-loading" id="logs-loading-master"></div>
                          <table class="logs-contents" id="logs-contents-master">
                            <thead><tr>
                              <th>Time</th>
                              <th>Source</th>
                              <th>Domain</th>
                              <th>Message</th>
                            </tr></thead><tbody></tbody>
                          </table>
                        </div>
                    </div>
                    <div class="middle">
                        <div id="charts-middle">
                          <div id="timescale"></div>
                          <div id="preview"></div>
                          <div class="flex-box">
                              <h2 id="graph-slave-title" class="node-title ui-widget">Slave</h2>
                              <div id="slave-setter-dummy-placeholder"></div>
                              <div id="slave-setter-horizontal-centering">
                                  <select class="slave-setter"></select>
                              </div>
                              <div id="slave-setter-horizontal-offset"></div>
                          </div>
                        </div>
                        <div id="logs-settings">
                            <input id="sync-logs" type="checkbox" checked="checked"/>
                            <label for="check" class="ui-widget checkbox-label">Sync slave's logs with master's</label>
                        </div>
                    </div>
                    <div class="chart-loading" id="chart-loading-slave"></div>
                    <div class="chart-container">
                        <div class="chart" id="chart-slave"></div>
                        <div class="logs" id="logs-slave">
                          <div class="logs-loading" id="logs-loading-slave"></div>
                          <table class="logs-contents" id="logs-contents-slave">
                            <thead><tr>
                              <th>Time</th>
                              <th>Source</th>
                              <th>Domain</th>
                              <th>Message</th>
                            </tr></thead><tbody></tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS dependencies begin -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script>
            var slave_setter = null;
            $(function() {
                $("#slave-setter-horizontal-centering").hide();
                $("#timescale").hide();
                $("#preview").hide();
                $("select").selectmenu().each(function() {
                    var menu = $(this);
                    menu.selectmenu("menuWidget").addClass("overflow").addClass("cool-select");
                    menu.selectmenu("widget").removeAttr("style").addClass("cool-select");
                });
                $(".slave-setter").selectmenu("widget").addClass("slave-setter");
                $("#timescale").slider({
                    range: false, min: 0, max: 100, value: 100
                });
            });
        </script>
        <script src="js/d3.v3.min.js"></script>
        <script src="js/rickshaw.min.js"></script>
        <script src="js/jquery.tablesorter.min.js"></script>
        <script src="js/jquery.tablesorter.widgets.min.js"></script>
        <script src="js/jquery.checkbox.min.js"></script>
        <!-- JS dependencies end -->
        <script src="js/logs-rickshaw.js"></script>
        <script src="js/logs.js"></script>
    </body>
</html>
