#!/usr/bin/make -f


export DH_VERBOSE=1
export PYBUILD_NAME=veles
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_clean:
	rm MANIFEST.in
	dh_clean

override_dh_auto_build:
	dh_auto_build
	cd docs && PYTHONPATH=.. ./generate_docs.py
	cd ..
	cd web && ./build.sh
	cd ..
	rm .pybuild/python*/build/veles/external/pydev/exec1.py

override_dh_install:
	dh_install
	chmod +x debian/python3-veles/usr/lib/python*/dist-packages/veles/web_status.py
	rm -f debian/python3-veles/usr/lib/python*/dist-packages/veles/site_config.py
	rm -f debian/python3-veles/usr/lib/python*/dist-packages/veles/znicz/site_config.py
	rm -rf debian/python3-veles/usr/lib/python*/dist-packages/veles/tests
	rm -rf debian/python3-veles/usr/lib/python*/dist-packages/veles/znicz/tests
	touch .veles && mv .veles debian/python3-veles/usr/lib/python*/dist-packages/veles/znicz
	rm -rf debian/python3-veles/usr/lib/python*/dist-packages/docs
	mkdir -p debian/python3-veles/usr/share/veles
	mkdir -p debian/python3-veles/usr/share/doc/python3-veles
	cp -rL docs/html/* debian/python3-veles/usr/share/doc/python3-veles
	cp -r ocl cuda debian/python3-veles/usr/share/veles/
	mkdir debian/python3-veles/usr/share/veles/znicz
	cp -r veles/znicz/ocl debian/python3-veles/usr/share/veles/znicz/ocl
	cp -r veles/znicz/cuda debian/python3-veles/usr/share/veles/znicz/cuda
	cp -r devices debian/python3-veles/usr/share/veles/
	cp requirements.txt debian/python3-veles/usr/share/veles/
	mkdir -p debian/python3-veles/etc/init
	cp deploy/upstart/*.conf debian/python3-veles/etc/init
	cp -r web/dist debian/python3-veles/usr/share/veles/web
	mkdir debian/python3-veles/usr/share/veles/data
	cp veles/znicz/samples/DemoKohonen/kohonen.txt.gz debian/python3-veles/usr/share/veles/data/kohonen.txt.gz
	cp veles/znicz/samples/Wine/wine.txt.gz debian/python3-veles/usr/share/veles/data/wine.txt.gz
