@import "bootstrap/variables";

html {
  background-color: #ffffff;
  overflow: hidden;
}
body {
  padding: 1em 1em 2em 1em;
  min-width: 50em;
  background: transparent;
  overflow: auto;
}
html, body {
  height: 100%;
}
#page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background:url(../img/ajax-loader.gif) no-repeat center center;
}
nav {
  margin: 0 auto 1em auto !important;
  min-width: 60em;
  width: 60em;
}
.flex-box {
  display: flex;
  align-items: center;
}
#content {
  margin: 0 2.5em;
  width: calc(100% - 5em);
  flex: auto;
  overflow: hidden;
  display: flex;
}
footer {
  position: fixed;
  margin-left: 2.5em;
  margin-right: 2.5em;
  bottom: 0;
  width: calc(100% - 7em);
  min-width: 45em;
  height: 2em;
  background-color: #ffffff;
}

#sessions {
  width: 25em;
  min-width: 25em;
}
#details {
  flex: auto;
  margin-left: 2em;
  margin-right: 2em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 10em;
}
#tables {
  width: calc(30em + 2px);
  min-width: calc(30em + 2px);
}

.flex-auto {
  flex: auto;
}
.pull-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #888888;
}
.navbar-default .navbar-brand {
  color: #000000;
  font-family: 'Audiowide', cursive;
  float: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #888888;
}
.navbar-default .navbar-nav > li > a {
  color: #888888;
  font-family: 'Audiowide', cursive;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #888888;
  /*border-radius: 4px;*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #428bca;
  /*border-radius: 4px;*/
  font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #428bca;
  /*border-radius: 4px;*/
  font-weight: bold;
}
.navbar-default .navbar-toggle {
  border-color: #428bca;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #428bca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #888888;
}
.navbar-default .navbar-link {
  color: #888888;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 80%) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #888888;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.detailed-description {
  float: right;
  min-width: 440px;
  width: 40%;
  padding: 0;
  margin-left: 20px;
  display: table-cell;
}
#workflow-details {
  max-height: 20em;
  overflow: overlay;
}
#workflow-svg-container {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}
.list-group-item.media > li {
  padding-left: 10px;
}
.list-group-item.media {
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.list-group-item.media.active {
  background-color: #428bca;
}
.graceful-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel-margin-zero {
  margin-bottom: 0;
}
.panel-borderless {
  border: none;
}

#workflow-svg-container-fill {
  flex: auto;
}

.active > div, .active > div > a, .active > div > h4 > a,
.active > div > .list-group-item-text > a,
.active > div > .list-group-item-text > i > a {
  color: #ffffff;
}
.view-plots {
  float: right;
  font-size: small;
}
.list-group-item-text {
  font-size: small;
}
th, tr {
  padding: 0.25em !important;
}
.slave-id {
  width: 6em;
}
.slave-power {
  width: 4em;
}
.slave-host {
  width: 10em;
}
.slave-status {
  width: 5em;
}
.slave-actions {
  width: 5em;
}
.center-cell {
  text-align: center;
}

.details-panel-heading {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.active > div > span > .badge {
  color: #428bca;
  background-color: #ffffff;
}
.loading-indicator {
  text-align: center;
  margin-top: 50px;
}
#details-loading-indicator {
  display: none;
}
.table {
  overflow: scroll;
}
.progress {
  margin-bottom: 0;
}
.progress-overflow {
  background-color: #F5F5F5;
  color: #000000;
}

.graph-active {
    cursor: pointer;
}
