* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

#layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#toolbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 4em;
  width: 10em;
  overflow: hidden;
  background-color: white;
  transition: height 0.3s ease-in-out;
}

#image-view {
  flex: 1;
  position: relative;
  overflow: auto;
}

#image-container {
  position: relative;
}

#nav {
  height: 4em;
  width: 100%;
  padding: 0 1em 0 1em;
  display: flex;
  align-items: center;
}

#nav > button, #nav > label {
  width: 33.33% !important;
  height: 2em;
  margin: 0 0 0 0.25em !important;
}

#nav > button:first-of-type {
  margin-left: 0 !important;
}

#menu-contents {
  width: 100%;
  padding: 0 0.5em 0.5em;
}

#list-container {
  width: 10em;
  margin-top: 4em;
  transition: margin-top 0.3s ease-in-out;
  max-height: calc(100vh - 4em);
  overflow: auto;
  background-color: white;
}

input[type=radio] + label {
  display: block;
  padding: 0.2em;
  overflow: hidden;
  height: 3em;
  width: 100%;
  cursor: pointer;
  transition: height 0.3s ease-in-out;  
}
input[type=radio] + label {
  margin-top: 0.2em;
}
input[type=radio]:first-child + label {
  margin-top: 0;
}
input[type=radio]:checked + label {
  height: 6.1em;
  border: 1px solid #fbd850;
  background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #eb8f00;
}
input[type=radio] + label:hover {
  border: 1px solid #fbcb09;
  background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #c77405;
}
label > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5em;
}
header > span, label > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header > span {
  font-size: small;
}
label > div {
  width: 100%;
  margin-top: 0.4em;
  padding: 0 0.3em 0.3em 0.3em;
  height: calc(100% - 2.5em - 1.9em);
  box-sizing: border-box;
  font-size: x-small;
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.thumbnail {
  max-width: 2.5em;
  max-height: 2.5em;
  margin-right: 0.4em;
}

 /* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon.fa {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0;
}

.ui-button-text {
  padding: 0.2em !important;
}

canvas#main {
  display: block;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  cursor: default;
}

.selection {
  position: absolute;
  border: 4px solid;
  border-radius: 5px;
  cursor: move;
}

.hidden {
  display: none;
}

.touched {
  background: linear-gradient(to bottom, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%);
}

.ui-autocomplete {
  max-height: 10em;
  font-size: small;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#jump-to-file {
  width: 100%;
  margin-bottom: 0.5em;
}

#menu-contents > label {
  font-size: small;
  display: flex;
  align-items: center;
}